@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Symbols', sans-serif;
    font-size: 1rem;

}

.home_container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(14, 1fr);
    background-color: rgb(248, 248, 248);


}


.img_top {

    max-width: 100%;
    height: auto;
    display: grid;
    grid-column: 2 / 7;
    grid-row: 5/6;

    justify-self: center;
}

.img_bottom {
    width: 100%;
    height: 100%;
    grid-column: 1 / 8;
    grid-row: 14/15;

}

.welcome {
    width: 100%;
    height: max-content;
    display: grid;
    grid-column: 2 / 7;
    grid-row: 6/7;
    text-align: center;
    font-size: 1em;
}

.hello_trainer {
    text-align: center;
    color: red;
    font-size: 2em;
    padding-top: 25px
}

.form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-column: 2 / 7;
    grid-row: 7/8;
    justify-items: center;
}

.elements_form {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

input {
    width: clamp(150px, 50%, 250px);
    height: 40px;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    border: rgb(224, 222, 222) solid 2px;

}

input::selection {
    border: none
}

button {
    width: clamp(150px, 10%, 250px);
    height: 40px;
    margin-top: 15px;
    border-radius: 5px 5px 5px 5px;
    border: none;
    background-color: red;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}




.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.formpokedex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-accion {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.inputpokedex {
    width: clamp(100px, 50%, 250px);
    margin: 0;
}

.buttonpokedex {
    width: clamp(100px, 50%, 150px);
    margin: 0;
}


.accion {
    display: flex;
}

.introwelcome {
    padding-top: 50px;
    font-size: clamp(1em, 3vw, 2em);
    text-align: center;
}

select {
    width: clamp(120px, 50%, 200px);
    height: 40px;
    border-radius: 5px;
}

.contpokecard {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorCard {
    max-width: 1400px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}


.nameUser {
    font-size: 1em;
}

.card_pokemon {
    width: 100%;
    max-width: 320px;
    height: max-content;
    border-radius: 0.5em;
    font-size: 1rem;
    background-color: currentColor;
    cursor: pointer;
}


.card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    position: relative;
}


.img_pokemon {
    max-width: 200px;
    position: absolute;
    top: 25px;
}

.description_pokemon {
    background-color: white;
    border-radius: 0 0 0.5em 0.5em;
    height: 60%;
    padding-bottom: 25px;
}



.name_pokemon {
    text-transform: capitalize;
    font-size: 1.8em;
    text-align: center;
}

.type_pokemon {
    width: 100%;
    display: flex;
    text-transform: capitalize;
    justify-content: center;
}

.stack_pokemon {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;


}

.list_stack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;

}

.stat_name {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
    color: rgb(116, 110, 110);
}

.stat_base {
    font-size: 0.9em;
    font-weight: 600;
    color: rgb(29, 28, 28);
}


ul {
    list-style: none;
}

.fire {
    background: linear-gradient(180deg, rgba(233, 94, 58, 1) 20%, rgba(230, 125, 38, 1) 50%);
    border: 10px solid rgba(230, 125, 38, 1);
}

.water {
    background: linear-gradient(180deg, rgba(20, 92, 184, 1) 20%, rgba(48, 136, 248, 1) 50%);
    border: 10px solid rgba(48, 136, 248, 1);
}

.bug {
    background: linear-gradient(180deg, rgba(103, 58, 147, 1) 20%, rgba(178, 119, 237, 1) 50%);
    border: 10px solid rgba(178, 119, 237, 1);
}

.grass {
    background: linear-gradient(180deg, rgba(129, 200, 198, 1) 20%, rgba(179, 219, 185, 1) 50%);
    border: 10px solid rgba(179, 219, 185, 1);

}

.normal {
    background: linear-gradient(180deg, rgba(233, 94, 58, 1) 20%, rgba(230, 125, 38, 1) 50%);
    border: 10px solid rgba(230, 125, 38, 1);
}

.fighting {
    background: linear-gradient(180deg, rgba(20, 92, 184, 1) 20%, rgba(48, 136, 248, 1) 50%);
    border: 10px solid rgba(48, 136, 248, 1);
}

.flying {
    background: linear-gradient(180deg, rgba(103, 58, 147, 1) 20%, rgba(178, 119, 237, 1) 50%);
    border: 10px solid rgba(178, 119, 237, 1);
}

.poison {
    background: linear-gradient(180deg, rgba(129, 200, 198, 1) 20%, rgba(179, 219, 185, 1) 50%);
    border: 10px solid rgba(179, 219, 185, 1);

}

.ground {
    background: linear-gradient(180deg, rgba(233, 94, 58, 1) 20%, rgba(230, 125, 38, 1) 50%);
    border: 10px solid rgba(230, 125, 38, 1);
}

.rock {
    background: linear-gradient(180deg, rgba(20, 92, 184, 1) 20%, rgba(48, 136, 248, 1) 50%);
    border: 10px solid rgba(48, 136, 248, 1);
}

.ghost {
    background: linear-gradient(180deg, rgba(103, 58, 147, 1) 20%, rgba(178, 119, 237, 1) 50%);
    border: 10px solid rgba(178, 119, 237, 1);
}

.steel {
    background: linear-gradient(180deg, rgba(129, 200, 198, 1) 20%, rgba(179, 219, 185, 1) 50%);
    border: 10px solid rgba(179, 219, 185, 1);

}

.electric {
    background: linear-gradient(180deg, rgba(233, 94, 58, 1) 20%, rgba(230, 125, 38, 1) 50%);
    border: 10px solid rgba(230, 125, 38, 1);
}

.psychic {
    background: linear-gradient(180deg, rgba(20, 92, 184, 1) 20%, rgba(48, 136, 248, 1) 50%);
    border: 10px solid rgba(48, 136, 248, 1);
}

.ice {
    background: linear-gradient(180deg, rgba(103, 58, 147, 1) 20%, rgba(178, 119, 237, 1) 50%);
    border: 10px solid rgba(178, 119, 237, 1);
}

.dragon {
    background: linear-gradient(180deg, rgba(129, 200, 198, 1) 20%, rgba(179, 219, 185, 1) 50%);
    border: 10px solid rgba(179, 219, 185, 1);

}


.dark {
    background: linear-gradient(180deg, rgba(233, 94, 58, 1) 20%, rgba(230, 125, 38, 1) 50%);
    border: 10px solid rgba(230, 125, 38, 1);
}

.fairy {
    background: linear-gradient(180deg, rgba(20, 92, 184, 1) 20%, rgba(48, 136, 248, 1) 50%);
    border: 10px solid rgba(48, 136, 248, 1);
}

.unknown {
    background: linear-gradient(180deg, rgba(103, 58, 147, 1) 20%, rgba(178, 119, 237, 1) 50%);
    border: 10px solid rgba(178, 119, 237, 1);
}

.shadow {
    background: linear-gradient(180deg, rgba(129, 200, 198, 1) 20%, rgba(179, 219, 185, 1) 50%);
    border: 10px solid rgba(179, 219, 185, 1);

}

.img_pokemon_search {
    width: 100%;
    max-width: 200px;
    padding-top: 50px;

}

.list_type {
    background-color: rgb(58, 211, 44);
    color: white;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 0.8em;

}

.list_ability {
    background-color: rgb(214, 82, 148);
    color: white;
    width: max-content;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    font-size: 0.8em;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.datails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px
}

.details_pokemon_ability {
    text-align: center;
    border-bottom: 2px solid rgb(214, 82, 148);
    color: rgba(255, 255, 255, 0.733);
}

.details_pokemon_type {
    text-align: center;
    border-bottom: 2px solid lightsalmon;
    color: rgba(255, 255, 255, 0.733);
}

.pokemon_weight_height {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.342);
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;

}

.name_pokemon_selector {
    text-transform: capitalize;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.856);


}

.line {
    height: 2px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.336);
    margin-bottom: 15px;


}

.div_1 {
    text-align: center;

}

.wh {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.733);
}

.weight {
    color: rgba(255, 255, 255, 0.733);
}

.height {
    color: rgba(255, 255, 255, 0.733);
}


.boxNumber {

    height: 40px;
    width: max-content;
    padding-left: 5px;
    padding-right: 5px;

    border: 2px solid rgba(255, 255, 255, 0.295);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.pagination li a:hover {
    background-color: #f1f1f1;
}

.pagination .active a {
    background-color: #333;
    color: #fff;
}

.fail {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text_fail_pokemon {

    font-size: 2em;
}

.searchNameFail {
    font-size: 1em;
    color: red;
}


.stack {
    font-weight: 500;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    text-align: center;
}

.moves {
    width: 100%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.list_moves {
    padding-left: 5px;
    padding-right: 5px;
    background: rgb(226, 198, 45);
    background: linear-gradient(117deg, rgb(226, 102, 45) 0%, rgb(223, 122, 41) 63%, rgb(197, 89, 62) 100%);
    border-radius: 5px;
    color: white;
}

.selector {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(131, 58, 180);
    background: linear-gradient(0deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

/* html {
    background: rgb(131, 58, 180);
    background: linear-gradient(0deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
} */

.chart {

    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cardSearch {
    width: 100%;
    max-width: 550px;

    margin-left: 25px;
    margin-right: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    height: 100px;
    background-image: url('/headerpokedex.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 200px;
    height: auto;
}

.pokeball {
    position: absolute;
    top: 75px;
    right: 40px;
    width: 50px;

    height: auto;
}

.contfooter {
    width: 100%;
    height: 200px;
    margin-top: 50px;
    background-image: url('/headerpokedex.svg');
    background-size: cover;
    background-image: center;
    background-repeat: no-repeat;
    position: relative;
}

.pokeball_footer {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}


@media (min-width:768px) {
    .header {
        width: 100%;
        height: 150px;
    }

    .logo {
        top: 48px;
        left: 40px;
        width: 300px;
    }

    .pokeball {
        top: 115px;
        right: 40px;
        width: 70px;

    }
}